@use "@styles/helpers/variables" as *;
@use "@styles/helpers/mixins" as *;
@use "@styles/helpers/keyframes" as *;
// Header styles
.headerContainer {
    position: sticky;
    margin-bottom: 20px;
    top: 0;
    z-index: 10;
    width: 100%;
    height: 50px;
    background-color: $background-color;
    font-family: $font-primary;
    box-shadow: 0 5px 5px rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
    }

    @media (min-width: 768px) and (max-width: 1023px) {
        margin-bottom: 20px;
        height: 60px;
    }

    @media (min-width: 1024px) {
        margin-bottom: 20px;
        height: 70px;
    }
}

// Logo and headline wrapper within the header
.logoAndHeadlineWrapper {
    @include flex-center;
}

.headerLogo {
    @include flex-center;
    padding: 10px;
    .headerImage {
        object-fit: contain;
        height: auto;
        width: 100%;
    }
    @media (min-width: 768px) and (max-width: 1023px) {
        padding: 15px;
    }

    @media (min-width: 1024px) {
        padding: 20px;
        &:hover {
            @include invert;
        }
    }
}

.headerHeadline {
    font-weight: $font-weight-bold;
    font-style: $font-style-italic;
    font-size: $h3-font-size;

    @media (min-width: 1024px) {
        font-size: $h1-font-size;
    }
}

// Header elements wrapper
.headerElementsWrapper {
    display: none;
    justify-content: flex-end;
    align-items: center;

    @media (min-width: 768px) and (max-width: 1023px) {
        display: flex;
    }

    @media (min-width: 1024px) {
        display: flex;
    }
}

// Menu button styles
.headerMenuBtn {
    display: flex;
    text-decoration: none;
    @include flex-center;
    border: none;
    font-family: $font-primary;
    font-size: $font-size-large;
    font-weight: $font-weight-medium;
    color: $color-black;
    cursor: pointer;

    @media (min-width: 768px) and (max-width: 1023px) {
        font-size: $font-size-medium;
        padding: 10px;
    }

    @media (min-width: 1024px) {
        font-size: $font-size-small;
        padding: 18px;
        &:hover {
            color: $color-hover-blue;
        }
    }
}

// Popup menu wrapper
.popupMenuWrapper {
    position: fixed;
    @include flex-center;
    top: 0;
    right: 0;
    height: 100%;
    width: 50px;
    z-index: 150;

    @media (min-width: 768px) and (max-width: 1023px) {
        display: none;
    }

    @media (min-width: 1024px) {
        display: none;
    }
}
