@use "../../../../styles/helpers/variables" as *;
@use "../../../../styles/helpers/mixins" as *;

.walletMenu {
    padding-bottom: 21px;
    position: absolute;
    z-index: 1;
    width: 250px;
    border-radius: 0 0 5px 5px;
    background-color: $secondary-color;
    transform-origin: top;
    transform: scaleY(0);
    opacity: 0;
    transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
    @media (min-width: 768px) and (max-width: 1023px) {
        top: 60px;
    }

    @media (min-width: 1024px) {
        top: 70px;
    }
}

.visible {
    transform: scaleY(1);
    opacity: 1;
}

.walletMenuLinks {
    display: flex;
    padding: 10px 40px;
    background-color: $secondary-color;
    text-decoration: none;
    button {
        width: 100%;
        text-align: start;
        font-family: $font-primary;
        font-size: $font-size-small;
        line-height: $line-height-small;
        font-weight: 400;
        color: $white;
        background-color: $secondary-color;
        cursor: pointer;

        &:hover {
            color: $hover-grey;
        }
    }
}

.walletMenuBalance {
    @include flex-center;
    margin: 5px 10px;
    border-radius: 5px;
    font-family: $font-primary;
    font-size: $font-size-small;
    line-height: $line-height-small;
    font-weight: 400;
    color: $black;
    background-color: $white;
    cursor: default;
}
