@use "@styles/helpers/variables" as *;
@use "@styles/helpers/mixins" as *;
@use "@styles/helpers/keyframes" as *;

.walletMenu {
    @media (min-width: 768px) and (max-width: 1023px) {
        top: 60px;
        padding-bottom: 21px;
        position: absolute;
        z-index: 1;
        width: 250px;
        border-radius: 0 0 $border-radius $border-radius;
        background-color: $color-secondary;
        transform-origin: top;
        transform: scaleY(0);
        opacity: 0;
        transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
    }

    @media (min-width: 1024px) {
        top: 70px;
        padding-bottom: 21px;
        position: absolute;
        z-index: 1;
        width: 250px;
        border-radius: 0 0 $border-radius $border-radius;
        background-color: $color-secondary;
        transform-origin: top;
        transform: scaleY(0);
        opacity: 0;
        transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
    }
}

.visible {
    transform: scaleY(1);
    opacity: 1;
}

.walletMenuLinks,
.walletMenuLinks {
    display: flex;
    padding: 10px;
    text-decoration: none;
    font-family: $font-primary;
    font-size: $font-size-large;
    font-weight: $font-weight-normal;
    color: $color-black;
    background-color: $color-white;
    cursor: pointer;

    &:hover {
        color: $color-hover-grey;
    }

    @media (min-width: 768px) and (max-width: 1023px) {
        padding: 10px 40px;
        background-color: $secondary-color;
        color: $color-white;
        font-size: $font-size-medium;
    }
    @media (min-width: 1024px) {
        padding: 10px 40px;
        color: $color-white;
        background-color: $secondary-color;
        font-size: $font-size-small;
    }
}

.hidden {
    @media (min-width: 768px) and (max-width: 1023px) {
        display: none;
    }
    @media (min-width: 1024px) {
        display: none;
    }
}

.disconnect button {
    text-align: center;
    background-color: $color-firebrick;
    color: $color-white;
    border-radius: $border-radius;
    border: solid 1px $color-light-black;
    width: 100%;
    padding: 0;
    font-family: $font-primary;
    font-size: $font-size-large;
    font-weight: 400;
    cursor: pointer;

    &:hover {
        color: $color-hover-grey;
    }

    @media (min-width: 768px) and (max-width: 1023px) {
        font-size: $font-size-medium;
    }
    @media (min-width: 1024px) {
        font-size: $font-size-small;
    }
}

.walletMenuBalance {
    @include flex-center;
    border-bottom: solid 1px $black;
    font-family: $font-primary;
    font-size: $font-size-large;
    font-weight: $font-weight-normal;
    color: $color-black;
    background-color: $color-white;
    cursor: default;

    @media (min-width: 768px) and (max-width: 1023px) {
        border: none;
        font-size: $font-size-medium;
        border-radius: $border-radius;
        margin: 5px 10px;
    }
    @media (min-width: 1024px) {
        font-size: $font-size-small;
        border: none;
        border-radius: $border-radius;
        margin: 5px 10px;
    }
}
