@use "@styles/helpers/variables" as *;
@use "@styles/helpers/mixins" as *;
@use "@styles/helpers/keyframes" as *;

// Variables for shared styles
$table-width: 100%;
$shadow: 0 5px 5px rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);

// NFT Table styles
.table {
    @include boxShadow;
    table-layout: fixed;
    border-radius: $border-radius;
    border-spacing: 0;

    thead {
        padding: 8px 15px;
        border-radius: $border-radius $border-radius 0 0;
        background-color: $background-color;
        box-shadow: $shadow;
    }

    tbody {
        display: block;
        max-height: 300px;
        padding: 0 15px;
        border-radius: 0 0 $border-radius $border-radius;
        scroll-behavior: smooth;
        overflow-y: auto;
    }
}

// Full-width table rows and headers
.table thead,
.table tbody tr {
    display: table;
    width: $table-width;
    table-layout: fixed;
}

.table thead th {
    width: $table-width;
}

.nonNecessaryTableItems {
    display: none;
    @media (min-width: 768px) and (max-width: 1023px) {
        display: none;
    }
    @media (min-width: 1024px) and (max-width: 1439px) {
        display: none;
    }
    @media (min-width: 1440px) {
        display: table-cell;
    }
}
