@use "@styles/helpers/variables" as *;
@use "@styles/helpers/mixins" as *;
@use "@styles/helpers/keyframes" as *;

// Side filter wrapper styles
.searchSideFiltersWrapper {
    transform: translateX(-100%);
    transition: transform 0.5s ease-out;
    background-color: $color-primary;
    font-family: $font-primary;
    top: 40px;
    z-index: 5;
    height: 100%;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    box-shadow: 5px 0px 5px rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}

// Side filter wrapper open styles
.searchSideFiltersWrapperOpen {
    transform: translateX(0);
}

// Filter text styles
.filterHeadlineWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    width: 100%;
    background-color: $color-primary;
}

// Filter open button styles
.filterButton {
    background-color: $color-primary;
    transition: 0.5s ease-out;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 128px;
    height: 36px;
    width: 36px;
    border-radius: 0 5px 5px 0;
    box-shadow: 5px 5px 5px rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    cursor: pointer;
}

.filterButtonOpen {
    left: 102px;
    border-radius: $border-radius;
    transform: rotateY(-180deg);
}

.arrow {
    transform: rotate(-90deg);
    transition: transform 0.5s ease-out;
    @media (min-width: 1024px) {
        &:hover {
            @include invert;
        }
    }
}

.resetButton {
    width: 100%;
    z-index: 1;
    padding: 18px;
    background-color: $color-primary;
    border-bottom: solid 1px $color-primary;
    border-top: solid 1px $color-primary;
    button {
        width: 100%;
        font-family: $font-primary;
        font-size: $font-size-small;
        font-weight: 500;
        background-color: $color-primary;
        cursor: pointer;

        @media (min-width: 768px) and (max-width: 1023px) {
        }
        @media (min-width: 1024px) {
            &:hover {
                color: $hover-blue;
            }
        }
    }
}

// Background placeholder styles
.backgroundPlaceholder {
    width: 100%;
    background-color: $color-primary;
    z-index: 5;
}
.placeholderA {
    height: 60px;
}

.placeholderB {
    flex-grow: 1;
    max-height: 100%;
}
