@use "../../../styles/helpers/variables" as *;
@use "../../../styles/helpers/mixins" as *;

.headerAccountInfoWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    @media (min-width: 768px) and (max-width: 1023px) {
        padding: 16px;
    }

    @media (min-width: 1024px) {
        padding: 23.5px 20px;
    }
}

.onlineDot {
    @include boxShadow;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: $color-forestgreen;
}

.headerAccountInfo {
    transition: 0.4s ease-in;
    padding: 0 18px;
    font-family: $font-primary;
    font-size: $font-size-small;
    font-weight: 500;
}

.menuIcon {
    transition: 0.4s ease-in;
    img {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 18px;
        width: auto;
    }
}

.walletMenu {
    padding-bottom: 21px;
    position: absolute;
    z-index: 1;
    top: 70px;
    width: 250px;
    border-radius: 0 0 5px 5px;
    background-color: $secondary-color;
    transform-origin: top;
    transform: scaleY(0);
    opacity: 0;
    transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
}

.headerAccountInfoWrapper {
    &:hover {
        color: $hover-blue;
        .walletMenu {
            transform: scaleY(1);
            opacity: 1;
        }
        .menuIcon {
            transform: rotateX(180deg);
            @include invert;
        }
    }
}

.walletMenuLinks {
    display: flex;
    justify-content: flex-start;
    padding: 10px 40px;
    background-color: $secondary-color;
    text-decoration: none;
    button {
        border: none;
        font-family: $font-primary;
        font-size: $font-size-small;
        line-height: $line-height-small;
        font-weight: 400;
        color: $white;
        background-color: $secondary-color;
        cursor: pointer;

        &:hover {
            color: $hover-grey;
        }
    }
}

.walletMenuBalance {
    @include flex-center;
    margin: 5px 10px;
    border-radius: 5px;
    font-family: $font-primary;
    font-size: $font-size-small;
    line-height: $line-height-small;
    font-weight: 400;
    color: $black;
    background-color: $white;
    cursor: default;
}

// Connect button styles
.connectButton {
    display: flex;
    background-color: $background-color;

    button {
        align-items: center;
        padding: 0 18px;
        width: 128px;
        border-radius: 5px;
        font-family: $font-primary;
        font-size: $font-size-small;
        color: $color-white;
        background-color: $hover-blue;
        cursor: pointer;

        &:hover {
            color: $hover-grey;
            background-color: $hover-blue;
        }
    }
}
