@use "@styles/helpers/variables" as *;
@use "@styles/helpers/mixins" as *;
@use "@styles/helpers/keyframes" as *;

.modalContent {
    @include boxShadowFields;
    display: flex;
    flex-direction: column;
    margin: 10px;
    max-width: 100%;
    border-radius: 5px;
    background-color: $color-white;
    overflow: auto;
    @media (min-width: 768px) and (max-width: 1023px) {
        flex-direction: row;
    }

    @media (min-width: 1024px) {
        flex-direction: row;
    }
}

.modalImageWrapper {
    display: flex;
    width: 100%;
    position: relative;
    padding: 10px;

    @media (min-width: 768px) and (max-width: 1023px) {
        width: 50%;
    }

    @media (min-width: 1024px) {
        width: 50%;
    }
}

.modalImageLoadingWaveWrapper {
    @include flex-center;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
}

.modalImageLoadingWaveWrapper,
.modalImage {
    transition: opacity 0.5s ease-out;
}

.modalImage {
    opacity: 1;
    object-fit: contain;
    width: auto;
    height: auto;
    border-radius: $border-radius;
}

.imageLoading {
    opacity: 0;
}

.modalTextWrapper {
    width: 100%;
    padding: 10px;

    @media (min-width: 768px) and (max-width: 1023px) {
        width: 50%;
    }

    @media (min-width: 1024px) {
        width: 50%;
    }
}

.modalTextInnerWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    height: 100%;
    border-radius: 5px;
}

.modalPriceWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    font-size: 22px;
    font-weight: 500;
    color: $color-black;
}
.modalPriceInnerWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex-wrap: wrap;
}

.modalLoveLightWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.modalLoveLightInner {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: $border-radius-large;
    margin-right: 30px;

    .loveLight {
        height: 100%;
        width: 100%;
        cursor: pointer;
    }
}
.modalLoveLightInnerYellow {
    filter: drop-shadow(0 -10px 7.5px $color-orange);
}

.modalText {
    div {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        text-align: flex-end;
    }
}

.nftNftAddressToCopy {
    display: "inline-block";
    position: "relative";
    cursor: url(../../../../public/media/copy-icon.png), copy;
}

.modalDescriptionWrapper {
    max-width: 100%;
    padding-top: 40px;
    background-color: $color-white;
}

.modalDescription {
    overflow-y: auto;
    max-height: 300px;
    border-radius: 5px;
    &.modalAttention {
        border: solid 3px $color-firebrick;
    }
}

.modalAttributesWrapper {
    width: 100%;
}

.modalAttributes {
    display: flex;
    justify-content: space-between;
    text-align: end;
}
