@use "@styles/helpers/variables" as *;
@use "@styles/helpers/mixins" as *;
@use "@styles/helpers/keyframes" as *;

.sellSwapFormWrapper {
    @include boxShadow;
    max-height: 700vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: $border-radius;
    gap: 20px;
}

.sellSwapForm {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: $border-radius;

    // Styles to remove spinner from number inputs
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}

.sellSwapInputFieldsWrapper {
    @include flex-center;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    @media (min-width: 768px) and (max-width: 1023px) {
        flex-direction: column;
    }

    @media (min-width: 1024px) {
        flex-direction: row;
    }
}
