@use "@styles/helpers/variables" as *;
@use "@styles/helpers/mixins" as *;
@use "@styles/helpers/keyframes" as *;

// NFT table container styles
.tableContainer {
    @include flex-center();
    width: 100%;

    @media (min-width: 768px) and (max-width: 1023px) {
        padding: 16px 50px;
        width: 100%;
    }

    @media (min-width: 1024px) {
        width: 50%;
    }
}

.tableWrapper {
    display: flex;
    flex-direction: column;
    font-family: $font-primary;
    width: 100%;

    h3 {
        padding: 10px 50px;
        font-size: $font-size-xxl;
        font-weight: 700;
        text-align: center;
        @media (min-width: 768px) and (max-width: 1023px) {
            text-align: left;
        }

        @media (min-width: 1024px) {
            text-align: left;
        }
    }
}

// NFT collection styles
.nftCollection {
    padding: 10px 0;
}
