@use "@styles/helpers/variables" as *;
@use "@styles/helpers/mixins" as *;
@use "@styles/helpers/keyframes" as *;

.collectionModalContentWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    padding-top: 0;
}

.collectionModalContent {
    @include boxShadowFields;
    padding: 10px;
    border-radius: 5px;
    background-color: $white;
    width: 100%;
}

.collectionModalTextWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    height: 100%;
    width: 100%;
    border-radius: 5px;
}

.collectionModalText {
    font-size: $font-size-small;
    font-weight: 500;
    color: $black;

    div {
        display: flex;
        justify-content: space-between;
        text-align: end;

        p {
            text-align: start;
            width: 50%;
        }
    }
}
