@use "@styles/helpers/variables" as *;
@use "@styles/helpers/mixins" as *;
@use "@styles/helpers/keyframes" as *;

.chatModalContainerWrapper {
    position: relative;
}

.chatModalContainer {
    display: flex;
    min-height: 100%;
    @media (min-width: 768px) and (max-width: 1023px) {
    }

    @media (min-width: 1024px) {
        min-width: 600px;
        max-width: 800px;
        padding: 5px;
    }
}

.chatContainer {
    @include boxShadowFields;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 5px;
    width: 70%;
    border-radius: 5px;
    background-color: $color-white;
}

.messagesArea {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
    overflow: auto;
}

.inputArea {
    display: flex;
    justify-content: center;
    align-items: center;
}

.messageInput {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 10px;
}

.chatMessageInWrapper {
    display: flex;
    justify-content: flex-start;
    max-width: 100%;
    margin: 0 5px 5px 5px;
}

.chatMessageIn {
    @include boxShadowFields;
    max-width: 50%;
    padding: 5px;
    border: solid 1px $color-forestgreen;
    border-radius: $border-radius;
    overflow-wrap: break-word;
    box-sizing: border-box;
}

.chatMessageOutWrapper {
    display: flex;
    justify-content: flex-end;
    max-width: 100%;
    margin: 0 5px 5px 5px;
}

.chatMessageOut {
    @include boxShadowFields;
    max-width: 50%;
    padding: 5px;
    border: solid 1px $color-firebrick;
    border-radius: $border-radius;
    overflow-wrap: break-word;
    box-sizing: border-box;
}
