// Variables
$font-primary: "Poppins", sans-serif;
$font-secondary: "Roboto", sans-serif;

$black: rgb(0, 0, 0);
$white: rgb(255, 255, 255);
$hover-blue: rgb(18, 115, 235);
$hover-grey: rgb(204, 204, 204);
$background-color: rgb(255, 249, 226);
$secondary-color: rgb(18, 115, 235);
$font-size-small: 15px;
$font-size-medium: 35px;
$font-size-large: 70px;
$line-height-small: 24px;
