@use "@styles/helpers/variables" as *;
@use "@styles/helpers/mixins" as *;
@use "@styles/helpers/keyframes" as *;

.categoriesListContainer,
.nftListingContainer {
    display: flex;
    flex-direction: column;
    padding: 10px 25px;

    @media (min-width: 768px) and (max-width: 1023px) {
        padding: 15px 50px;
    }

    @media (min-width: 1024px) {
        padding: 20px 100px;
    }
}

.categoriesListContainer {
    position: sticky;
    top: 40px;
    background-color: $white;
    z-index: 5;
    padding-bottom: 10px;
    @media (min-width: 768px) and (max-width: 1023px) {
        top: 50px;
    }

    @media (min-width: 1024px) {
        top: 60px;
    }
}

.nftCollectionsContainer {
    display: flex;
    flex-direction: column;
    padding: 10px 25px;
    gap: 16px;

    @media (min-width: 768px) and (max-width: 1023px) {
        padding: 15px 0;
        flex-direction: column;
    }

    @media (min-width: 1024px) {
        padding: 20px 100px;
        flex-direction: row;
    }
}
