@use "../helpers/variables" as *;
@use "../helpers/mixins" as *;

.myNftLoadingWaveWrapper {
    display: flex;
    transform: scale(2);
}

.myNftWrapper {
    @include flex-center;
    flex-direction: column;
    margin-top: 40px;
    width: 100%;
    font-family: $font-primary;
    padding: 16px 25px;

    @media (min-width: 768px) and (max-width: 1023px) {
        padding: 16px 0;
        flex-direction: column;
    }

    @media (min-width: 1024px) {
        padding: 16px 100px;
        flex-direction: row;
    }

    h1 {
        font-size: $font-size-medium;
        font-weight: 700;
        text-align: center;
    }
}

.myNftTotalInformation {
    padding: 10px 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    p {
        text-align: center;
        width: 33.3%;
    }
}

// NFT boxes grid styles
.myNftList {
    display: grid;
    grid-template-columns: repeat(5, 1fr); // 5 NFTs / row
    justify-items: stretch;
    padding: 16px;
    width: 100%;
    gap: 16px;
    &:first-child {
        justify-self: start;
    }
    &:last-child {
        justify-self: end;
    }
}

// Show more button styles
.showMoreNewButton {
    @include flex-center;
    justify-content: center;
    gap: 18px;
    padding: 20px;

    button {
        padding: 0 18px;
        width: 128px;
        height: 49px;
        border-radius: 5px;
        font-family: $font-primary;
        font-size: $font-size-small;
        font-weight: 400;
        color: $white;
        background-color: $secondary-color;
        cursor: pointer;

        &:hover {
            background-color: $hover-blue;
            color: $hover-grey;
        }
    }
}
