@use "@styles/helpers/variables" as *;
@use "@styles/helpers/mixins" as *;

.myNftLoadingWaveWrapper {
    @include flex-center;
    margin: 200px;
    transform: scale(2);
}

.myNftWrapper {
    @include flex-center;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 40px;
    width: 100%;
    min-height: 100vh;
    font-family: $font-primary;
    padding: 16px 25px;

    h1 {
        font-size: $font-size-xxl;
        font-weight: 700;
        text-align: center;
    }

    @media (min-width: 768px) and (max-width: 1023px) {
        h1 {
            font-size: $font-size-extra-large;
        }
    }

    @media (min-width: 1024px) {
        h1 {
            font-size: $font-size-large;
        }
    }
}

.myNftTotalInformation {
    padding: 10px 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    p {
        font-size: $font-size-medium;
        font-weight: 500;
        text-align: center;
        width: 33.3%;
    }

    @media (min-width: 768px) and (max-width: 1023px) {
        p {
            font-size: $font-size-medium;
        }
    }

    @media (min-width: 1024px) {
        p {
            font-size: $font-size-small;
        }
    }
}

// NFT boxes grid styles
.myNftList {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    justify-items: center;
    padding: 10px 0;
    width: 100%;
    gap: 14px;

    @media (min-width: 768px) and (max-width: 1023px) {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 15px;
    }

    @media (min-width: 1024px) {
        grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
        gap: 16px;
    }
}
