@use "../helpers/variables" as *;
@use "../helpers/mixins" as *;

.nftSearchResultsContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 16px 0 16px 150px;
}

.nftSearchResultsWrapper {
    @include flex-center;
    flex-direction: column;
    width: 100%;
    font-family: $font-primary;

    h1 {
        font-size: $font-size-medium;
        font-weight: 700;
        text-align: center;
    }
}

// NFT boxes grid styles
.nftSearchResults {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    justify-items: center;
    padding: 10px 0;
    width: 100%;
    gap: 14px;

    @media (min-width: 768px) and (max-width: 1023px) {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 15px;
    }

    @media (min-width: 1024px) {
        grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
        gap: 16px;
    }
}

// load more button styles
.loadMoreBtns {
    @include flex-center;
    justify-content: center;
    gap: 18px;
    padding: 20px;
}
