@use "@styles/helpers/variables" as *;
@use "@styles/helpers/mixins" as *;

.nftSearchResultsContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100dvh;
    padding: 16px 25px 16px 25px;
    @media (min-width: 768px) and (max-width: 1023px) {
        padding: 16px 50px 16px 150px;
    }

    @media (min-width: 1024px) {
        padding: 16px 100px 16px 150px;
    }
}

.nftSearchResultsWrapper {
    @include flex-center;
    flex-direction: column;
    width: 100%;
    font-family: $font-primary;
}
