@use "@styles/helpers/variables" as *;
@use "@styles/helpers/mixins" as *;
@use "@styles/helpers/keyframes" as *;

.nftSellSwapContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family: $font-primary;
    font-weight: 400;
    padding: 16px 25px;

    @media (min-width: 768px) and (max-width: 1023px) {
        font-size: $font-size-medium;
        padding: 16px 50px;
    }

    @media (min-width: 1024px) {
        font-size: $font-size-small;
        padding: 16px 100px;
    }
}

.nftSellSwapWrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 18px;
}
