@use "@styles/helpers/variables" as *;
@use "@styles/helpers/mixins" as *;
@use "@styles/helpers/keyframes" as *;

.withdrawProceedsContainer {
    display: flex;
    flex-direction: column;
    min-height: 90dvh;
    font-family: $font-primary;
    font-size: $font-size-small;
    font-weight: 500;
    padding: 16px 25px;

    @media (min-width: 768px) and (max-width: 1023px) {
        padding: 16px 50px;
    }

    @media (min-width: 1024px) {
        padding: 16px 100px;
    }
}

.withdrawProceeds {
    @include boxShadow;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 20px;
    border-radius: 5px;
    gap: 10px;
    overflow: auto;
    h3 {
        font-size: $font-size-xxl;
        font-weight: 700;
    }
}

.withdrawProceedsTitle {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;

    h4 {
        font-size: $font-size-extra-large;
        font-weight: 700;
        text-align: center;
    }
}

.withdrawProceedsInformation {
    @include boxShadowFields;
    border-radius: $border-radius;
    border: solid 3px firebrick;
    padding: 10px;
    width: 100%;
    p {
        overflow-y: auto;
        width: 100%;
        max-height: 500px;
    }
}

.proceedsInformationWrapper {
    width: 100%;
    padding-bottom: 10px;
}

.proceedsInformation {
    @include boxShadowFields;
    border-radius: $border-radius;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

    h4,
    div {
        text-align: center;
    }

    @media (min-width: 768px) and (max-width: 1023px) {
        flex-direction: row;
        padding: 10px 50px;
        h4,
        div {
            text-align: end;
            font-size: $font-size-medium;
            font-weight: 500;
        }
    }

    @media (min-width: 1024px) {
        flex-direction: row;
        padding: 10px 50px;
        h4,
        div {
            text-align: end;
            font-size: $font-size-extra-large;
            font-weight: 700;
        }
    }
}

.proceeds {
    text-align: end;
    width: 70%;
}
