@use "../../../../styles/helpers/variables" as *;
@use "../../../../styles/helpers/mixins" as *;

// NFT table container styles
.nftTableContainer {
    @include flex-center();
    width: 100%;

    @media (min-width: 768px) and (max-width: 1023px) {
        padding: 16px 50px;
        width: 100%;
    }

    @media (min-width: 1024px) {
        width: 50%;
    }
}

.nftTableWrapper {
    @include flex-center;
    flex-direction: column;
    font-family: $font-primary;

    h1 {
        font-size: $font-size-medium;
        font-weight: 700;
        text-align: center;
    }
}

// NFT collection styles
.nftCollection {
    padding: 10px 0;
}
