@use "@styles/helpers/variables" as *;
@use "@styles/helpers/mixins" as *;
@use "@styles/helpers/keyframes" as *;

// Tooltip styles
.tooltip {
    position: absolute;
    display: inline-block;
    overflow: visible;
    z-index: 100;
}

// Tooltip text styles
.tooltip .tooltipText {
    position: absolute;
    left: 16px;
    padding: 5px;
    transform: translateY(-50%);
    width: 200px;
    border-radius: $border-radius;
    font-weight: $font-weight-normal;
    text-align: center;
    background-color: $color-hover-grey;
    color: $color-firebrick;
    opacity: 90%;
    transition: opacity 1s;
}

.tooltipWrapper {
    position: absolute;
}
