@use "../helpers/variables" as *;
@use "../helpers/mixins" as *;

.collectionModalContentWrapper {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}

.collectionModalContent {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.collectionModalContentInnerwrapper {
    margin: 20px 0 20px 20px;

    &:last-of-type {
        margin: 20px;
    }
}

.collectionModalTextWrapper {
    @include boxShadowFields;
    padding: 10px;
    margin: 0 10px;
    border-radius: 5px;
    background-color: $white;
}

.collectionModalTextInnerWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    border-radius: 5px;
    height: 100%;
    width: 100%;
}

.collectionModalText {
    font-size: $font-size-small;
    font-weight: 500;
    color: $black;

    div {
        display: flex;
        justify-content: space-between;
        text-align: end;

        p {
            text-align: start;
            width: 50%;
        }
    }
}
