@use "../helpers/variables" as *;
@use "../helpers/mixins" as *;

.headerAccountInfoWrapper {
    padding: 0 18px;
    display: flex;
    align-items: center;
}

.headerAccountInfo {
    padding: 0 18px;
    display: flex;
    flex-direction: column;
    font-family: $font-primary;
    font-size: $font-size-small;
}

.onlineDot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    @include boxShadow;
}

.online {
    background-color: forestgreen;
}

.offline {
    background-color: firebrick;
}

// Connect button styles
.connectButton {
    padding: 0 18px;
    display: flex;
    background-color: $background-color;

    button {
        width: 128px;
        background-color: $hover-blue;
        border-radius: 5px;
        padding: 0 18px;
        align-items: center;
        font-family: $font-primary;
        font-size: $font-size-small;
        color: white;
        cursor: pointer;

        &:hover {
            background-color: $hover-blue;
            color: $hover-grey;
        }
    }
}
