@use "../helpers/variables" as *;

// Footer styles
.footerContainer {
    background-color: $background-color;
    padding: 20px 0;
    margin: 40px 0 0 0;
    text-align: center;
    font-family: $font-secondary;
    font-size: $font-size-small;
    color: $black;
}
