@use "../helpers/variables" as *;
@use "../helpers/mixins" as *;

// Header styles
.headerContainer {
    background-color: $background-color;
    position: sticky;
    top: 0;
    z-index: 10;
    width: 100%;
    box-shadow: 0 5px 5px rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

// Logo and headline wrapper within the header
.logoAndHeadlineWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}
.headerLogo {
    @include hover-invert;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 166px;

    img {
        height: 30px;
    }
}

.headerHeadline {
    font-family: $font-primary;
    font-weight: 300;
    font-size: $font-size-medium;
}
// Header elements wrapper
.headerElementsWrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: $background-color;
}
