@use "../helpers/variables" as *;
@use "../helpers/mixins" as *;

.modalContent {
    @include boxShadowFields;
    display: flex;
    flex-direction: row;
    height: 100%;
    min-width: 760px;
    border-radius: 5px;
    background-color: white;
}

.modalImageWrapper {
    width: 50%;
    padding: 10px;
    img {
        height: auto;
        width: 100%;
        border-radius: 5px;
    }
}

.modalTextWrapper {
    width: 50%;
    padding: 10px;
}

.modalTextInnerWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    border-radius: 5px;
    height: 100%;
}

.modalPrice {
    font-size: 22px;
    font-weight: 500;
    color: $black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.modalPriceInner {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex-wrap: wrap;
}

.modalLoveLight {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modalLoveLightInner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 30px;

    border-radius: 15px;
    img {
        height: 50px;
        width: auto;
    }
}
.modalLoveLightInnerYellow {
    filter: invert(19%) sepia(51%) saturate(3468%) hue-rotate(342deg) brightness(96%)
        contrast(101%);
    box-shadow: 0 -5px 0 yellow;
}

.modalText {
    font-size: $font-size-small;
    font-weight: 500;
    color: $black;

    div {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        text-align: flex-end;
    }
}

.nftNftAddressToCopy {
    display: "inline-block";
    position: "relative";
    cursor: url(../public/media/copy-icon.png), copy;
}

.modalDescriptionWrapper {
    max-width: 400px;
    padding-top: 40px;
    background-color: white;
}

.modalDescription {
    overflow-y: auto;
    width: 100%;
    max-height: 300px;
    border-radius: 5px;

    h3,
    h4,
    p {
        font-family: $font-primary;
        font-size: $font-size-small;
        font-weight: 700;
        color: $black;
    }
    h4 {
        font-weight: 600;
    }
    p {
        font-weight: 500;
    }
    &.modalAttention {
        border: solid 3px firebrick;
    }
}

.modalAttributesWrapper {
    width: 100%;
}

.modalAttributes {
    display: flex;
    justify-content: space-between;
    width: 100%;
    text-align: end;
}
