@use "../helpers/variables" as *;
@use "../helpers/keyframes" as *;

// Loading Icon Styles
.loadingContainerMain {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.loadingWrapperMain {
    zoom: 2;
}
.loadingContainerNotification {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.loadingWrapperNotification {
    zoom: 0.5;
}

.loadingWave {
    display: flex;
    justify-content: space-between;
    width: 100px;
}

.wave {
    width: 10px;
    height: 10px;
    margin: 1px;
    background-color: $hover-blue;
    border-radius: 50%;
    animation: wave 1.5s linear infinite;
}

// Wave animation delay
.wave:nth-child(1) {
    animation-delay: 0.15s;
}
.wave:nth-child(2) {
    animation-delay: 0.3s;
}
.wave:nth-child(3) {
    animation-delay: 0.45s;
}
.wave:nth-child(4) {
    animation-delay: 0.6s;
}
.wave:nth-child(5) {
    animation-delay: 0.75s;
}
