@use "../helpers/variables" as *;
@use "../helpers/mixins" as *;

// Variables for shared styles
$border-radius: 5px;
$table-width: 100%;
$shadow: 0 5px 5px rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);

// NFT Table styles
.nftTable {
    @include boxShadow;
    table-layout: fixed;
    border-radius: $border-radius;
    border-spacing: 0;

    thead {
        padding: 8px 15px;
        border-radius: $border-radius $border-radius 0 0;
        background-color: $background-color;
        box-shadow: $shadow;
    }

    tbody {
        padding: 0 15px;
        border-radius: 0 0 $border-radius $border-radius;
        display: block;
        max-height: 300px;
        overflow-y: auto;
    }
}

// Full-width table rows and headers
.nftTable thead,
.nftTable tbody tr {
    display: table;
    width: $table-width;
    table-layout: fixed;
}

.nftTable thead th {
    width: $table-width;
}

// NFT Table row styles
.nftTableRow {
    @include boxShadow;
    margin: 15px auto;
    border-radius: $border-radius;
    cursor: pointer;
    &:hover {
        @include boxShadow-hover;
        transition: 0.2s;
    }
    td {
        vertical-align: middle;
        padding: 8px 12px;

        img {
            border-radius: $border-radius;
            display: block;
            margin: auto;
        }
    }
}

// Flex container for content
.contentWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
