@use "../helpers/variables" as *;
@use "../helpers/mixins" as *;

// NFT card styles
.nftCard {
    @include boxShadow;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 5px;
    height: 300px;
    width: 300px;
    padding: 3px 0;
    font-family: $font-primary;
    font-size: $font-size-small;
    color: $black;
    font-weight: 500;
    cursor: pointer;

    &:hover {
        @include boxShadow-hover;
        transition: 0.2s;
    }
}

// NFT image styles
.cardImage {
    display: block;
    object-fit: cover;
    height: 220px;
    width: auto;
}

// NFT text area styles
.cardTextArea {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
// Owner, price, and card information styles
.cardTitleWrapper,
.cardOwnerAndId,
.cardListedPrice {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;

    .cardPrice,
    .cardTitle h2 {
        font-size: $font-size-small;
        font-weight: 700;
    }

    .cardListedStatus {
        color: forestgreen;
    }

    .cardNotListedStatus {
        color: firebrick;
    }
}
