@use "../helpers/variables" as *;
@use "../helpers/mixins" as *;
@use "../helpers/keyframes" as *;

// Sell/Swap Nft page styles
.nftSellSwapContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 40px 192px;
    font-family: $font-primary;
    font-size: $font-size-small;
    font-weight: 500;

    // Sell/Swap wrapper styles
    .nftSellSwapWrapper,
    .nftWithdrawWrapper {
        display: flex;
        flex-direction: row;
        gap: 18px;
        width: 100%;
        padding: 16px 32px;
    }

    // Sell/Swap button styles
    .nftSellSwapButton,
    .nftWithdrawButton {
        display: flex;
        justify-content: center;
        width: 100%;
        gap: 18px;

        button {
            font-family: $font-primary;
            font-size: $font-size-small;
            background-color: $secondary-color;
            width: 128px;
            color: $white;
            font-weight: 400;
            border-radius: 5px;
            padding: 0 18px;
            outline: none;
            border: none;
            cursor: pointer;

            &:hover {
                color: $hover-grey;
            }
        }
    }

    // Form styles within the sell/swap wrapper
    .sellSwapForm,
    .nftWithdraw {
        @include boxShadow;
        height: 500px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 16px 32px;
        border-radius: 5px;

        // Styles to remove spinner from number inputs
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        h2 {
            font-size: $font-size-medium;
            font-weight: 600;
        }

        // Input wrapper styles
        .formInputWrapper {
            @include flex-center;
            width: 100%;
        }

        // Input styles
        .formInput {
            width: 100%;

            .inputWrapper {
                display: flex;
                flex-direction: row;
                align-items: center;
            }

            label {
                width: 50%;
                padding: 0 18px;
                font-weight: 500;
            }

            input {
                @include boxShadowFields;
                outline: none;
                border-radius: 5px;
                width: 100%;
                height: 40px;
                padding: 0 5px;
                background-color: #ffffff;

                // Focused input styles
                &:focus {
                    border: 1px solid blue;
                }
            }
        }

        // Button styles within the form
        button {
            background-color: $hover-blue;
            width: 128px;
            color: $white;
            border-radius: 5px;
            font-family: $font-primary;
            font-size: $font-size-small;
            font-weight: 400;
            padding: 0 18px;
            outline: none;
            border: none;
            cursor: pointer;

            &:hover {
                color: $hover-grey;
            }
        }

        .nftWithdrawInformation {
            p {
                @include boxShadowFields;
                overflow-y: auto;
                width: 100%;
                max-height: 300px;
                border-radius: 5px;
                padding: 5px;
            }
        }
    }
}
.nftCreditInformationWrapper {
    width: 80%;
}
.nftCreditInformation {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    h3 {
        font-size: $font-size-medium;
        font-weight: 500;
    }
    div {
        font-size: $font-size-medium;
        font-weight: 500;
    }
}
