@use "../helpers/variables" as *;

// Tooltip styles
.tooltip {
    position: relative;
    display: inline-block;
}

// Tooltip text styles
.tooltip .tooltipText {
    width: 200px;
    background-color: $hover-grey;
    color: red;
    font-weight: 400;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    transform: translateY(-50%);
    left: 16px;
    z-index: 10;
    opacity: 90%;
    transition: opacity 1s;
}
