@use "../helpers/variables" as *;
@use "../helpers/mixins" as *;

// Connect button styles
.connectButton {
    padding: 0 18px;
    display: flex;
    background-color: $background-color;

    button {
        width: 128px;
        background-color: $hover-blue;
        border-radius: 5px;
        padding: 0 18px;
        align-items: center;
        font-family: $font-primary;
        font-size: $font-size-small;
        color: white;
        cursor: pointer;

        &:hover {
            background-color: $hover-blue;
            color: $hover-grey;
        }
    }
}

.headerAccountInfoWrapper {
    padding: 20px 18px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:hover .walletMenu {
        transform: translateY(0);
        opacity: 1;
    }
}

.onlineDot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    @include boxShadow;
    background-color: forestgreen;
}

.headerAccountInfo {
    padding: 0 18px;
    font-family: $font-primary;
    font-size: $font-size-small;
    font-weight: 500;
}

.burgerMenu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 20px;
    height: 18px;
}

.burgerLine {
    background-color: black;
    height: 3px;
    border-radius: 3px;
    width: 100%;
}
.walletMenu {
    transform: translateY(-100%);
    opacity: 0;
    transition: 0.5s ease-out;
    position: absolute;
    top: 100%;
    width: 250px;
    background-color: $secondary-color;
    border-radius: 0 0 5px 5px;
    padding: 10px;
    box-shadow: inset 0 5px 5px rgb(0 0 0 / 0.1), inset 0 1px 2px -1px rgb(0 0 0 / 0.1);
    z-index: -1;
}

.walletMenuLinks {
    @include flex-center;
    padding: 10px 40px;
    text-decoration: none;
    button {
        border: none;
        cursor: pointer;
        background-color: $secondary-color;
        font-family: $font-primary;
        font-size: $font-size-small;
        line-height: $line-height-small;
        font-weight: 400;
        color: $white;

        &:hover {
            color: $hover-grey;
            background-color: transparent;
        }
    }
}
.walletMenuBalance {
    background-color: $white;
    border-radius: 5px;
    font-family: $font-primary;
    font-size: $font-size-small;
    line-height: $line-height-small;
    font-weight: 400;
    color: $black;
}
