@use "../../../../styles/helpers/variables" as *;
@use "../../../../styles/helpers/mixins" as *;
@use "../../../../styles/helpers/keyframes";

.modalBackdropEnter {
    animation: fadeIn 0.5s ease-out forwards;
}

.modalBackdropExit {
    animation: fadeOut 0.4s ease-out forwards;
}

.modalBackdrop {
    position: fixed;
    @include flex-center;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}

.modalEnter {
    animation: modalEnter 0.4s forwards;
}

.modalExit {
    animation: modalExit 0.4s forwards;
}

.modalChangingOut {
    animation: modalChangingOut 0.4s forwards;
}

.modalChangingIn {
    animation: modalChangingIn 0.4s forwards;
}

.modalContainer {
    position: fixed;
    @include flex-center;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.modalContentWrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 11;
    max-width: 95%;
    max-height: 95%;
    border-radius: 5px;
    font-family: $font-primary;
    background: white;

    @media (min-width: 768px) and (max-width: 1023px) {
        max-width: 80%;
    }

    @media (min-width: 1024px) {
        max-width: 50%;
    }
}

.modalContentWrapper::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: -20px;
    border-radius: 5px;
    opacity: 0.1;
    background-image: url("/media/point-wave-edited.png");
    background-size: cover;
    background-position: center;
}

.modalContentInnerWrapper {
    z-index: 1;
    padding: 10px;
    flex: 1;
    overflow: auto;
}

.modalHeaderWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px 0 20px;
}

.closeButton {
    background-color: white;
    cursor: pointer;
    img {
        @include boxShadowFields;
        height: 24px;
        width: auto;
        border: solid 2px black;
        border-radius: 5px;
    }
}

// Footer styles within the modal
.modalFooterWrapper {
    padding: 20px 0 20px 0;
    display: flex;
    justify-content: center;

    button {
        @include flex-center;
        margin: 0 30px;
        padding: 0 10px;
        width: 50%;
        height: 49px;
        border-radius: 5px;
        border: none;
        font-family: $font-secondary;
        font-size: $font-size-small;
        font-weight: 400;
        color: $white;
        background-color: $secondary-color;
        cursor: pointer;

        &:hover {
            color: $hover-grey;
            background: $hover-blue;
        }
    }
}
