@use "@styles/helpers/variables" as *;
@use "@styles/helpers/mixins" as *;
@use "@styles/helpers/keyframes" as *;

// NFT card styles
.nftCardWrapper {
    height: 100%;
    width: 100%;
    min-width: 220px;
    min-height: 220px;
    max-width: 400px;
    max-height: 400px;
    transition: 0.2s ease-in;
    border-radius: $border-radius;
    @include boxShadow;
    font-family: $font-primary;
    font-size: $font-size-small;
    font-weight: $font-weight-medium;
    color: $color-black;
    cursor: pointer;

    @media (pointer: coarse) {
        &:active {
            transform: scale(0.98);
            @include boxShadow-hover;
        }
    }

    @media (hover: hover) {
        &:hover {
            @include boxShadow-hover;
            transform: scale(1.03);
        }
    }

    @media (min-width: 1024px) {
        min-width: 270px;
        min-height: 270px;
    }
}

.nftCard {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: $border-radius;
    aspect-ratio: 1/1;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.cardImageLoadingWaveWrapper,
.cardBackgroundImage {
    @include flex-center;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
}

.cardImageLoadingWaveWrapper {
    z-index: 2;
}

.cardImageLoadingWaveWrapper,
.cardImage {
    transition: opacity 0.5s ease-out;
}

// NFT image styles
.cardImage {
    opacity: 1;
    z-index: 1;
    object-fit: contain;
    height: auto;
    width: 100%;
    background-color: $color-white;
    @media (min-aspect-ratio: 1/1) {
        .cardImage {
            object-fit: cover; /* Schneidet das Bild so zu, dass es die Container-Abmessungen füllt */
        }
    }
}

.imageLoading {
    opacity: 0;
}

.cardContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1;
    height: 100%;
    width: 100%;
}

// Owner, price, and card information styles
.cardTitleWrapper {
    background-color: $color-white-semi-transparent;
}

.cardTitleWrapper,
.cardSwapAndListingStatusWrapper,
.cardPriceWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
}

.cardSwapAndListingStatusWrapper {
    font-weight: $font-weight-bold;
}

.cardTitle {
    line-height: $line-height-xs;
}

.cardPrice {
    font-size: $font-size-small;
    font-weight: $font-weight-bold;
}

.cardListedStatus {
    color: $color-forestgreen;
    text-align: right;
    width: 100%;
    font-weight: $font-weight-medium;
}

.cardNotListedStatus {
    text-align: right;
    width: 100%;
    color: $color-firebrick;
}

// NFT text area styles
.cardTextArea {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: $color-white-transparent;
    //visibility: hidden;
    //
    //@media (min-width: 768px) and (max-width: 1023px) {
    //    visibility: visible;
    //}
    //
    //@media (min-width: 1024px) {
    //    visibility: visible;
    //}
}
