@use "@styles/helpers/variables" as *;
@use "@styles/helpers/mixins" as *;
@use "@styles/helpers/keyframes" as *;
.headerAccountInfoContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: $border-radius;
    background-color: $color-white;
    cursor: pointer;
    transition: color 0.4s ease, transform 0.4s ease;

    @media (min-width: 768px) and (max-width: 1023px) {
        flex-direction: row;
        padding: 2.5px;
        background-color: $color-primary;
        margin-bottom: 0;
        border-radius: 0;
    }

    @media (min-width: 1024px) {
        flex-direction: row;
        padding: 23.5px 20px;
        background-color: $color-primary;
        margin-bottom: 0;
        border-radius: 0;
        &:hover {
            color: $color-hover-blue;

            .menuIcon img {
                @include invert;
                transform: rotateX(180deg);
            }
        }
    }
}
.headerAccountInfoContainerOpen {
    @media (max-width: 1023px) {
        color: $color-hover-blue;

        .menuIcon img {
            @include invert;
            transform: rotateX(180deg);
        }
    }
}

.headerAccountInfoWrapperInner {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (min-width: 768px) and (max-width: 1023px) {
        flex-direction: row;
    }

    @media (min-width: 1024px) {
        flex-direction: row;
    }
}

.onlineDot {
    @include boxShadow;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: $color-forestgreen;
    margin: 10px;

    @media (min-width: 768px) {
        margin: 0;
    }
}

.headerAccountInfo {
    text-align: start;
    padding: 0 10px;
    font-family: $font-primary;
    font-size: $font-size-large;
    font-weight: $font-weight-medium;

    @media (min-width: 768px) and (max-width: 1023px) {
        font-size: $font-size-medium;
    }

    @media (min-width: 1024px) {
        font-size: $font-size-small;
    }
}

.menuIcon {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    img {
        display: none;
        transition: 0.4s ease-out;

        @media (min-width: 768px) {
            display: block;
            height: 18px;
            width: auto;
        }
    }
}
