@use "@styles/helpers/variables" as *;
@use "@styles/helpers/mixins" as *;
@use "@styles/helpers/keyframes" as *;

// Sell/Swap Nft page styles
.nftSellSwapContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 16px 25px;
    font-family: $font-primary;

    @media (min-width: 768px) and (max-width: 1023px) {
        padding: 16px 50px;
    }

    @media (min-width: 1024px) {
        padding: 16px 100px;
    }
}

.sellSwapFormWrapper {
    @include boxShadow;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
    border-radius: $border-radius;
    padding: 10px;
}

.sellSwapForm {
    display: flex;
    flex-direction: column;
    width: 100%;
    @media (min-width: 768px) and (max-width: 1023px) {
        flex-direction: row;
    }

    @media (min-width: 1024px) {
        flex-direction: row;
    }
}
