@use "@styles/helpers/variables" as *;
@use "@styles/helpers/mixins" as *;
@use "@styles/helpers/keyframes" as *;

.connectButtonWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 23.5px 20px;

    @media (min-width: 768px) and (max-width: 1023px) {
        padding: 16px;
    }

    @media (min-width: 1024px) {
        padding: 23.5px 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
}
