@use "../../../styles/helpers/variables" as *;
@use "../../../styles/helpers/mixins" as *;

// Search bar wrapper
.searchBarWrapper {
    display: flex;
    padding: 20px 18px;
    width: 400px;
    align-items: center;
}

.searchBarInput {
    flex-grow: 1;
    flex-basis: calc(100% - 50px);
    height: $line-height-small;
    border-radius: 5px;
    padding: 0 5px;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.2), 0 1px 2px -1px rgb(0 0 0 / 0.2);
    transition: border 0.3s ease, box-shadow 0.3s ease;

    &:focus {
        border: solid 1px $hover-blue;
        box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.3), 0 1px 2px -1px rgb(0 0 0 / 0.3);
        transform: scale(1.02);
    }
}

.searchBarBtn {
    button {
        @include flex-center;
        max-width: 50px;
        padding: 0 18px;
        font-family: $font-primary;
        font-size: $font-size-small;
        font-weight: 500;
        color: $black;
        border: none;
        background-color: transparent;
        overflow: hidden;
        opacity: 0;
        transition: opacity 0.3s ease, transform 0.3s ease, max-width 0.3s ease;
        cursor: pointer;

        &.visible {
            opacity: 1;
        }
        &:hover {
            color: $hover-blue;
        }
    }
}

.searchIcon {
    background: none;
    border: none;
    font-size: 24px; // Größe der Lupe anpassen
    cursor: pointer;
}

// Media Queries für kleinere Bildschirme
@media (max-width: 600px) {
    .searchBarWrapper {
        justify-content: center; // Zentriert die Lupe, wenn das Eingabefeld nicht sichtbar ist
        padding: 10px; // Geringerer Abstand für kleinere Bildschirme
        width: auto; // Anpassung der Breite
    }

    .searchBarInput,
    .searchBarBtn {
        display: none; // Versteckt Eingabefeld und Suchknopf standardmäßig auf kleinen Bildschirmen
    }

    .searchIcon {
        display: block; // Stellt sicher, dass die Lupe sichtbar ist
    }
}
