@use "@styles/helpers/variables" as *;
@use "@styles/helpers/mixins" as *;
@use "@styles/helpers/keyframes" as *;

// Search bar wrapper
.searchBarWrapper {
    display: flex;
    align-items: center;
    padding: 10px;
    min-width: 150px;
    max-width: 100%;

    @media (min-width: 768px) and (max-width: 1023px) {
        min-width: 200px;
        padding: 15px;
    }

    @media (min-width: 1024px) {
        min-width: 300px;
        padding: 20px;
    }
}

.searchBarInput {
    flex-grow: 1;
    flex-basis: calc(100% - 50px);
    height: $line-height-small;
    border-radius: $border-radius;
    padding: 0 5px;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.2), 0 1px 2px -1px rgb(0 0 0 / 0.2);
    transition: border 0.3s ease, box-shadow 0.3s ease;

    &:focus {
        border: solid 1px $color-hover-blue;
        box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.3), 0 1px 2px -1px rgb(0 0 0 / 0.3);
    }
}

.searchBarBtn button {
    @include flex-center;
    margin-left: 10px;
    max-width: 50px;
    padding: 0 10px;
    height: $line-height-small;
    font-size: $font-size-small;
    font-weight: 500;
    color: $color-white;
    border-radius: $border-radius;
    background-color: $color-secondary;
    transition: opacity 0.3s ease, transform 0.3s ease, max-width 0.3s ease;
    cursor: pointer;
    overflow: hidden;

    &:hover {
        color: $color-hover-grey;
    }
}
