@use "../../../styles/helpers/variables" as *;
@use "../../../styles/helpers/mixins" as *;

// Popup menu wrapper
.popupMenuWrapper {
    padding: 20px 18px;
    position: relative;
    &:hover {
        color: $hover-blue;
    }
}
// Menu button styles
.menuButton {
    display: flex;
    text-decoration: none;

    button {
        @include flex-center;
        font-family: $font-primary;
        font-size: $font-size-small;
        line-height: $line-height-small;
        font-weight: 500;
        border: none;
        padding: 0 18px;
        cursor: pointer;
        color: $black;
        background-color: $background-color;

        &:hover {
            color: $hover-blue;
        }
    }
}

// Menu icon styles
.menuIcon,
.menuIconMinus {
    @include flex-center;
    width: 10px;
    font-weight: 300;
    font-family: $font-primary;
    font-size: $font-size-small;
    line-height: $line-height-small;
    font-weight: 500;
    color: $black;
    cursor: pointer;
}

.menuIconMinus {
    color: $hover-blue;
}

// Popup menu links wrapper
.popupMenuLinksWrapper {
    transform: translateY(-100%);
    background-color: $secondary-color;
    opacity: 0;
    transition: 0.5s ease-out;
    border-radius: 0 0 5px 5px;
    width: 250px;
    top: 100%;
    right: -77px;
    align-items: center;
    position: absolute;
    z-index: -1;
    box-shadow: inset 0 5px 5px rgb(0 0 0 / 0.1), inset 0 1px 2px -1px rgb(0 0 0 / 0.1);
}

// Popup menu links wrapper open state
.popupMenuLinksWrapperOpen {
    transform: translateY(0);
    opacity: 1;
}

// Popup menu links styles
.popupMenuLinks {
    @include flex-center;
    padding: 10px 40px;
    text-decoration: none;

    button {
        border: none;
        cursor: pointer;
        background-color: $secondary-color;
        font-family: $font-primary;
        font-size: $font-size-small;
        line-height: $line-height-small;
        font-weight: 400;
        color: $white;

        &:hover {
            color: $hover-grey;
            background-color: transparent;
        }
    }
}
