@use "../../../../styles/helpers/keyframes" as *;
@use "../../../../styles/helpers/variables" as *;
@use "../../../../styles/helpers/mixins" as *;

// Notification styles
.notificationsContainer {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: flex-end;
    gap: 10px;
    position: fixed;
    right: 0;
    bottom: 50px;
    z-index: 100;
    font-family: $font-primary;
}

.nftNotification {
    width: 300px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 5px 0 0 5px;

    &.enter {
        animation: slideIn 1.5s forwards ease-out, slideOut 1.5s 4s forwards;
    }

    &.sticky {
        animation: slideIn 1.5s forwards ease-out;
    }

    &.exit {
        animation: slideOut 1.5s forwards;
    }

    &.info {
        color: $hover-blue;
        border: solid 3px $hover-blue;
        border-right: none;
    }

    &.error {
        color: $color-firebrick;
        border: solid 3px $color-firebrick;
        border-right: none;
    }

    &.success {
        color: $color-forestgreen;
        border: solid 3px $color-forestgreen;
        border-right: none;
    }
}
