@use "../../../../styles/helpers/keyframes" as *;
@use "../../../../styles/helpers/variables" as *;
@use "../../../../styles/helpers/mixins" as *;

.nftNotificationInnerWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.nftNotificationBtnWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    height: auto;
    width: 50px;
    margin-right: 20px;
}
.notificationCloseButton {
    cursor: pointer;
    img {
        @include boxShadowFields;
        height: 20px;
        width: auto;
        border: solid 2px $color-black;
        border-radius: 5px;
        background-color: $color-white;
    }
}

.loadingWrapperNotification {
    padding-bottom: 10px;
    transform: scale(0.4);
}
