@use "../../../../styles/helpers/variables" as *;
@use "../../../../styles/helpers/mixins" as *;
.nftListMostWrapper {
    @include flex-center;
    flex-direction: column;
    margin-top: 40px;
    padding: 16px 150px;
    width: 100%;
    font-family: $font-primary;

    h1 {
        font-size: $font-size-medium;
        font-weight: 700;
        text-align: center;
    }
}

// NFT boxes grid styles
.nftListMost {
    display: grid;
    grid-template-columns: repeat(5, 1fr); // 5 NFTs / row
    justify-items: stretch;
    padding: 16px;
    width: 100%;
    gap: 16px;
    &:first-child {
        justify-self: start;
    }
    &:last-child {
        justify-self: end;
    }
}

// Show more button styles
.showMoreMostButton {
    @include flex-center;
    justify-content: center;
    gap: 18px;
    padding: 20px;

    button {
        padding: 0 18px;
        width: 128px;
        height: 49px;
        border-radius: 5px;
        font-family: $font-primary;
        font-size: $font-size-small;
        font-weight: 400;
        color: $white;
        background-color: $secondary-color;
        cursor: pointer;

        &:hover {
            background-color: $hover-blue;
            color: $hover-grey;
        }
    }
}
