@use "@styles/helpers/variables" as *;
@use "@styles/helpers/mixins" as *;
@use "@styles/helpers/keyframes" as *;

.nftListMostWrapper {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    font-family: $font-primary;

    h2 {
        padding: 10px 50px;
        font-size: $font-size-xxl;
        font-weight: 700;
        text-align: left;
    }
}

// NFT boxes grid styles
.nftListMost {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    justify-items: center;
    padding: 10px 0;
    width: 100%;
    gap: 14px;

    @media (min-width: 768px) and (max-width: 1023px) {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 15px;
    }

    @media (min-width: 1024px) {
        grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
        gap: 16px;
    }
}

// Show more button styles
.showMoreBtns {
    @include flex-center;
    justify-content: center;
    max-width: 100%;
    gap: 18px;
    margin: 20px;
}
