@use "../../../styles/helpers/keyframes" as *;
@use "../../../styles/helpers/variables" as *;
@use "../../../styles/helpers/mixins" as *;

// Side filter wrapper styles
.searchSideFiltersWrapper {
    transform: translateX(-100%);
    transition: transform 0.5s ease-out;
    background-color: $background-color;
    font-family: $font-primary;
    z-index: 5;
    height: 100%;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    box-shadow: 5px 0px 5px rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}

// Side filter wrapper open styles
.searchSideFiltersWrapperOpen {
    transform: translateX(0);
}

// Filter text styles
.filterHeadlineWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    width: 100%;
    background-color: $background-color;
}

// Filter open button styles
.filterOpenButton {
    background-color: $background-color;
    transition: 0.5s ease-out;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 128px;
    border-radius: 0 5px 5px 0;
    box-shadow: 5px 5px 5px rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    cursor: pointer;
}

.filterOpenButtonOpen {
    left: 102px;
    border-radius: none;
    box-shadow: none;
}

.sideBarArrow {
    display: flex;
    align-items: center;
    justify-items: center;
    padding: 5px;
    padding-right: 0;
    transition: transform 0.5s ease-out;
    border-radius: 0 5px 5px 0;
    box-shadow: 5px 0px 5px rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);

    img {
        height: 26px;
        transform: rotateZ(270deg);
    }
    &:hover {
        @include invert;
    }
}

.sideBarArrowOpen {
    transform: rotateY(180deg);
    transition: transform 0.5s ease-out;

    &:hover {
        @include invert;
    }
}

.resetButton {
    padding: 18px 0;
    width: 100%;
    font-family: $font-primary;
    font-size: $font-size-small;
    font-weight: 500;
    background-color: $background-color;

    cursor: pointer;

    &:hover {
        color: $hover-blue;
    }
}

// Background placeholder styles
.backgroundPlaceholder {
    width: 100%;
    background-color: $background-color;
    z-index: 5;
}
.placeholderA {
    height: 60px;
}

.placeholderB {
    flex-grow: 1;
    max-height: 100%;
}
