//Farb-Variablen
$primary-color: rgb(9, 116, 241);
$secondary-color: rgb(118, 175, 234);
$highlight-color: rgb(9, 116, 241);
$background-color: rgb(255, 249, 226);

//Schrift-Variablen

$font-black: rgb(0, 0, 0);

.loadingIconWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #ffffff;
}

.loadingIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
}

.headerContainer {
    background-color: $background-color;

    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        padding: 5px;
    }
}

.logoAndHeadlineWrapper {
    display: flex;
    align-items: center;
    margin-left: 16px;

    .headerLogo {

        img {
            width: 48px;
            border-radius: 50%;
        }

    }

    .headerHeadline {
        padding: 1rem;
        font-weight: bold;
        font-size: 1.875rem;
    }
}

.headerElementsWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.searchBarWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #ffffff;
    box-sizing: content-box;
    border-radius: 16px;
    padding: 0;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    height: 40px;
    margin-right: 16px;


    .searchBar {
        outline: none;
        border: none;
        border-radius: 16px 0 0 16px;
        background-color: #ffffff;
        padding: 0 16px;
    }

    button {
        background-color: $secondary-color;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 8px 16px;
        width: 64px;
        outline: none;
        color: $font-black;

        &:hover {
            background-color: $primary-color;
        }
    }
}

.headerButton button {
    background-color: $secondary-color;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    width: 128px;
    border: none;
    border-radius: 16px;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    color: $font-black;

    &:hover {
        background-color: $primary-color;

    }
}

.connectButton {
    margin-right: 16px;
    padding: 8px;
    border-radius: 16px;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}

.popupMenuWrapper {
    margin-right: 16px;

button {
    background-color: $secondary-color;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    width: 128px;
    height: 40px;
    border-radius: 16px;
    color: $font-black;
    border: none;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);

    &:hover {
        background-color: $primary-color;
    }
}
}

.popupMenuLinksWrapper {
    position: absolute;
    z-index: 10;

    button {
        margin: 2px 0;
    }
}

.popupMenuLinks {
    background-color: $secondary-color;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4px;
    padding: 8px;
    width: 128px;
    border-radius: 16px;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);

    &:hover {
        background-color: $primary-color;
    }
}

.NFTContainer {
    background-color: $background-color;
    margin: 40px 192px 0 192px;
    padding: 16px 32px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
        padding: 1rem 0;
        font-weight: bolder;
        font-size: larger;
        text-align: center;
    }

}

.NFTCardWrapper {
    margin: 2px;
}

.NFTCard {
    border: 1px;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    border-radius: 16px;
}

.NFTTextArea {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 8px;
}

.NFTOwner {
    font-style: italic;
    font-weight: bold;
    font-size: 14px;
    width: 192px;
}

.NFTImage {
    width: 170px;
    height: 170px;
    display: block;
    margin: 11px auto;
    border: solid 1px $highlight-color;
    background-color: #ffffff;
    align-items: center;
}

.NFTInformation {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        text-wrap: wrap;
        text-align: end;
    }
}

.NFTListed {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-top: 16px;
    width: 100%;
    overflow-x: scroll;
    scrollbar-width: none;
    /* Verstecke die Scrollleiste für Firefox */
    -ms-overflow-style: none;
    /* Verstecke die Scrollleiste für IE und Edge */
}


/* Für Webkit-basierte Browser (Chrome, Safari) */
.NFTListed::-webkit-scrollbar {
    width: 0;
}

.NFTInfoModal {
    header {
        padding: 0;
    }
    footer {
        border: none;
    }

}

.NFTModalImage {
    width: 250px;
    height: 250px;
    display: block;
    margin: 30px auto;

    border: solid 1px $highlight-color;
    background-color: #ffffff;
    align-items: center;
}

.SELLContainer {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2.5rem 12rem;
    background-color: $background-color;
    border-radius: 1rem;
    padding: 1rem;

    form {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
        padding: 1rem;
    }
}

.moreButton {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 50%;

    button {
        background-color: $secondary-color;
        display: flex;
        justify-content: center;
        color: $font-black;
        font-size: 14px;
        margin: 20px 0;
        padding: 8px;
        width: 64px;
        height: 40px;
        border: none;
        border-radius: 16px;
        box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);

        &:hover {
            background-color: $primary-color;
        }
    }
}
.showMoreButton button{
    width: 128px;
}

.arrows {
    font-size: 35px;
}



.dropDownSearchWrapper {
    position: absolute;

    button {
        background-color: $secondary-color;
        display: flex;
        justify-content: center;
        color: $font-black;
        font-size: 14px;
        margin: 40px 0 0 16px;
        padding: 8px;
        width: 128px;
        height: 40px;
        border: none;
        border-radius: 16px;
        box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);

        &:hover {
            background-color: $primary-color;
        }
    }
}

.dropDownSearchItems {
    button {
        background-color: $secondary-color;
        display: flex;
        justify-content: center;
        color: $font-black;
        font-size: 14px;
        margin: 2px 0 0 16px;
        padding: 8px;
        width: 128px;
        height: 40px;
        border: none;
        border-radius: 16px;
        box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);

        &:hover {
            background-color: $primary-color;
        }
    }
}

.searchResultsWrapper {
    background-color: $background-color;
    margin: 40px 192px 0 192px;
    padding: 16px 32px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

        h2 {
            padding: 16px 0;
            font-weight: bolder;
            font-size: larger;
            text-align: center;
        }

}

.scrollbar {
    max-height: 192px;
    overflow-y: auto;
    overflow-x: hidden;


    &::-webkit-scrollbar {
        width: 8px;

    }

    &::-webkit-scrollbar-thumb {
        background-color: $secondary-color;
        border-radius: 12px;
        border: 2px solid white;
    }
}

.button {
    background-color: blue;
    padding: 6px;

    &:hover {
        background: $primary-color;
    }
}

.main {
    min-height: 100vh;
    padding: 4rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer {
    display: flex;
    flex: 1;
    padding: 2rem 0;
    border-top: 1px solid #eaeaea;
    justify-content: center;
    align-items: center;

    a {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
    }
}

.title {
    a {
        color: #0070f3;
        text-decoration: none;

        &:hover,
        &:focus,
        &:active {
            text-decoration: underline;
        }
    }

    margin: 0;
    line-height: 1.15;
    font-size: 4rem;
}

.description {
    margin: 4rem 0;
    line-height: 1.5;
    font-size: 1.5rem;
}

.code {
    background: #fafafa;
    border-radius: 5px;
    padding: 0.75rem;
    font-size: 1.1rem;
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
        Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 800px;

    @media (max-width: 600px) {
        width: 100%;
        flex-direction: column;
    }
}

.card {
    margin: 1rem;
    padding: 1.5rem;
    text-align: left;
    color: inherit;
    text-decoration: none;
    border: 1px solid #eaeaea;
    border-radius: 10px;
    transition: color 0.15s ease, border-color 0.15s ease;
    max-width: 300px;

    &:hover,
    &:focus,
    &:active {
        color: #0070f3;
        border-color: #0070f3;
    }

    h2 {
        margin: 0 0 1rem 0;
        font-size: 1.5rem;
    }

    p {
        margin: 0;
        font-size: 1.25rem;
        line-height: 1.5;
    }
}

.logo {
    height: 1em;
    margin-left: 0.5rem;
}