@use "helpers/variables" as *;
@use "helpers/mixins" as *;
@use "helpers/keyframes" as *;

@use "components/loadingWave";
@use "components/notification";
@use "components/tooltip";
@use "components/modal";

@use "components/header";
@use "components/searchBar";
@use "components/popupMenu";

@use "components/nftBox";
@use "components/nftTable";

@use "components/searchSideFilters.scss";

@use "components/sellSwapNft";

@use "components/footer";

// NFT boxes container styles
.nftListingContainer {
    display: flex;
    flex-direction: column;

    width: 100%;
}

// NFT table container styles
.nftTableContainer {
    @include flex-center();
    width: 50%;
}

// NFT boxes wrapper styles
// NFT table wrapper styles
.nftListWrapper {
    @include flex-center;
    flex-direction: column;
    margin-top: 40px;
    padding: 16px 150px;
    font-family: $font-primary;

    h1 {
        font-size: $font-size-medium;
        font-weight: 700;
        text-align: center;
    }
}

.nftTableWrapper {
    @include flex-center;
    flex-direction: column;
    margin-top: 40px;
    padding: 16px 50px 16px 150px;
    font-family: $font-primary;

    h1 {
        font-size: $font-size-medium;
        font-weight: 700;
        text-align: center;
    }
}

// NFT boxes grid styles
.nftList {
    display: grid;
    grid-template-columns: repeat(5, 1fr); // 5 NFTs / row
    justify-items: stretch;
    width: 100%;
    padding: 16px;
    gap: 16px;
    &:first-child {
        justify-self: start;
    }
    &:last-child {
        justify-self: end;
    }
}

// NFT collection styles
.nftCollection {
    padding: 16px;
}

// Show more button styles
.showMoreButton {
    @include flex-center;
    display: flex;
    justify-content: center;
    gap: 18px;

    button {
        background-color: $secondary-color;
        width: 128px;
        color: $white;
        border-radius: 5px;
        font-family: $font-primary;
        font-size: $font-size-small;
        font-weight: 400;
        padding: 0 18px;
        border: none;

        &:hover {
            background-color: $hover-blue;
            color: $hover-grey;
        }
    }
}
