@use "@styles/helpers/variables" as *;
@use "@styles/helpers/mixins" as *;
@use "@styles/helpers/keyframes" as *;

// NFT card styles
.nftCardWrapper {
    height: 100%;
    width: 100%;
    min-width: 150px;
    min-height: 150px;
    border-radius: $border-radius;
    @include boxShadow;
    transition: 0.3s ease-out;
    font-family: $font-primary;
    font-size: $font-size-small;
    font-weight: 500;
    color: $black;
    cursor: pointer;

    &:hover {
        @include boxShadow-hover;
        transition: 0.1s ease-in;
        transform: scale(1.03);
    }
    @media (min-width: 768px) and (max-width: 1023px) {
        min-width: 200px;
        min-height: 200px;
    }

    @media (min-width: 1024px) {
        min-width: 270px;
        min-height: 270px;
    }
}

.nftCard {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: $border-radius;
    aspect-ratio: 1/1;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.cardImageLoadingWaveWrapper,
.cardBackgroundImage {
    @include flex-center;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
}

.cardImageLoadingWaveWrapper {
    z-index: 2;
}

.cardImageLoadingWaveWrapper,
.cardImage {
    transition: opacity 0.5s ease-out;
}

// NFT image styles
.cardImage {
    opacity: 1;
    z-index: 1;
    object-fit: cover;
    width: 100%;
    height: auto;
}

.imageLoading {
    opacity: 0;
}

.cardContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1;
    height: 100%;
    width: 100%;
}

// Owner, price, and card information styles
.cardTitleWrapper {
    background-color: $white-semi-transparent;
}

.cardTitleWrapper,
.cardSwapAndListingStatusWrapper,
.cardPriceWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
}

.cardPrice,
.cardTitle h3 {
    font-size: $font-size-small;
    font-weight: 700;
}

.cardListedStatus {
    color: $color-forestgreen;
    text-align: right;
    width: 100%;
}

.cardNotListedStatus {
    text-align: right;
    width: 100%;
    color: $color-firebrick;
}

// NFT text area styles
.cardTextArea {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: $white-transparent;
    visibility: hidden;

    @media (min-width: 768px) and (max-width: 1023px) {
        visibility: visible;
    }

    @media (min-width: 1024px) {
        visibility: visible;
    }
}
